__pycache__/Data.cpython-38.pyc
__pycache__/Data.cpython-310.pyc
.ipynb_checkpoints/reaction_rate-checkpoint.ipynb
.ipynb_checkpoints/Data-checkpoint.py
__pycache__/Plot.cpython-38.pyc
__pycache__/Widgets.cpython-38.pyc
